<!DOCTYPE html>
<html>

<head>
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}
</style>
</head>

<body>
{% for entry in entries %}
<table id="t01">
  <tr>
    <th>Field in Json output</th>
    <th>Corresponding number</th>
  </tr>
  <tr>
    <td>time_of_update</td>
    <td>{{ entry.current_date_time |safe }}</td>
  </tr>
  <tr>
    <td>start_connected_local_host</td>
    <td>{{ entry.text1|safe }}</td>
  </tr>
  <tr>
    <td>start_connected_local_host</td>
    <td>{{ entry.text2|safe }}</td>
  </tr>
  <tr>
    <td>start_connected_local_port</td>
    <td>{{ entry.text3|safe }}</td>
  </tr>
  <tr>
    <td>start_connected_remote_host</td>
    <td>{{ entry.text4|safe }}</td>
  </tr>
  <tr>
    <td>start_connected_remote_port</td>
    <td>{{ entry.text5|safe }}</td>
  </tr>
  <tr>
    <td>start_version</td>
    <td>{{ entry.text6|safe }}</td>
  </tr>
  <tr>
    <td>start_system_info</td>
    <td>{{ entry.text7|safe }}</td>
  </tr>
  <tr>
    <td>start_timestamp_time</td>
    <td>{{ entry.text8|safe }}</td>
  </tr>
  <tr>
    <td>start_timestamp_timesecs</td>
    <td>{{ entry.text9|safe }}</td>
  </tr>
  <tr>
    <td>start_connectin_to_host</td>
    <td>{{ entry.text10|safe }}</td>
  </tr>
  <tr>
    <td>start_connectin_to_port</td>
    <td>{{ entry.text11|safe }}</td>
  </tr>
  <tr>
    <td>start_cookie</td>
    <td>{{ entry.text12|safe }}</td>
  </tr>	
  <tr>
    <td>start_tcp_mss_default</td>
    <td>{{ entry.text13|safe }}</td>
  </tr>	
  <tr>
    <td>start_test_start_protocol</td>
    <td>{{ entry.text14|safe }}</td>
  </tr>	
  <tr>
    <td>start_test_start_num_streams</td>
    <td>{{ entry.text15|safe }}</td>
  </tr>	
  <tr>
    <td>start_test_start_blksize</td>
    <td>{{ entry.text16|safe }}</td>
  </tr>	
  <tr>
    <td>start_test_start_omit</td>
    <td>{{ entry.text17|safe }}</td>
  </tr>	
  <tr>
    <td>start_test_start_duration</td>
    <td>{{ entry.text18|safe }}</td>
  </tr>	
  <tr>
    <td>start_test_start_bytes</td>
    <td>{{ entry.text19|safe }}</td>
  </tr>	
  <tr>
    <td>start_test_start_blocks</td>
    <td>{{ entry.text20|safe }}</td>
  </tr>	
  <tr>
    <td>start_test_start_reverse</td>
    <td>{{ entry.text21|safe }}</td>
  </tr>
  <tr>
    <td>end_streams_sender_socket</td>
    <td>{{ entry.text22|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_sender_start</td>
    <td>{{ entry.text23|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_sender_end</td>
    <td>{{ entry.text24|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_sender_seconds</td>
    <td>{{ entry.text25|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_sender_bytes</td>
    <td>{{ entry.text26|safe }}</td>
  </tr>		
  <tr>
    <td>end_streams_sender_bits_per_second</td>
    <td>{{ entry.text27|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_sender_retrasmits</td>
    <td>{{ entry.text28|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_sender_max_snd_cwnd</td>
    <td>{{ entry.text29|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_sender_max_rtt</td>
    <td>{{ entry.text30|safe }}</td>
  </tr>
  <tr>
    <td>end_streams_sender_min_rtt</td>
    <td>{{ entry.text31|safe }}</td>
  </tr>
  <tr>
    <td>end_streams_sender_mean_rtt</td>
    <td>{{ entry.text32|safe }}</td>
  </tr>
  <tr>
    <td>end_streams_receiver_socket</td>
    <td>{{ entry.text33|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_receiver_start</td>
    <td>{{ entry.text34|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_receiver_end</td>
    <td>{{ entry.text35|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_receiver_seconds</td>
    <td>{{ entry.text36|safe }}</td>
  </tr>	
  <tr>
    <td>end_streams_receiver_bytes</td>
    <td>{{ entry.text37|safe }}</td>
  </tr>		
  <tr>
    <td>end_streams_receiver_bits_per_second</td>
    <td>{{ entry.text38|safe }}</td>
  </tr>	
  <tr>
    <td>end_sum_sent_start</td>
    <td>{{ entry.text39|safe }}</td>
  </tr>
  <tr>
    <td>end_sum_sent_end</td>
    <td>{{ entry.text40|safe }}</td>
  </tr>
  <tr>
    <td>end_sum_sent_seconds</td>
    <td>{{ entry.text41|safe }}</td>
  </tr>	  
  <tr>
    <td>end_sum_sent_bytes</td>
    <td>{{ entry.text42|safe }}</td>
  </tr>	  
  <tr>
    <td>end_sum_sent_bits_per_second</td>
    <td>{{ entry.text43|safe }}</td>
  </tr>	  
  <tr>
    <td>end_sum_sent_retransmits</td>
    <td>{{ entry.text44|safe }}</td>
  </tr>
    <td>end_sum_received_start</td>
    <td>{{ entry.text45|safe }}</td>
  </tr>
  <tr>
    <td>end_sum_received_end</td>
    <td>{{ entry.text46|safe }}</td>
  </tr>
  <tr>
    <td>end_sum_received_seconds</td>
    <td>{{ entry.text47|safe }}</td>
  </tr>	  
  <tr>
    <td>end_sum_received_bytes</td>
    <td>{{ entry.text48|safe }}</td>
  </tr>	  
  <tr>
    <td>end_sum_received_bits_per_second</td>
    <td>{{ entry.text49|safe }}</td>
  </tr>
  <tr>
    <td>end_cpu_utilization_percent_host_total</td>
    <td>{{ entry.text50|safe }}</td>
  </tr>	
  <tr>
    <td>end_cpu_utilization_percent_host_user</td>
    <td>{{ entry.text51|safe }}</td>
  </tr>	
  <tr>
    <td>end_cpu_utilization_percent_host_system</td>
    <td>{{ entry.text52|safe }}</td>
  </tr>	
  <tr>
    <td>end_cpu_utilization_percent_remote_total</td>
    <td>{{ entry.text53|safe }}</td>
  </tr>	
  <tr>
    <td>end_cpu_utilization_percent_remote_user</td>
    <td>{{ entry.text54|safe }}</td>
  </tr>	
  <tr>
    <td>end_cpu_utilization_percent_remote_system</td>
    <td>{{ entry.text55|safe }}</td>				
</table>
{% endfor %}
</body>
</html>
